---
layout: default
---
<header class="row">
  <h1><a href="/">TranDir</a> &rArr; Značení</h1>
</header>
<div class="row">
  <article>
    <p class="col-xs-4" style="text-align: left;">Ing. Ivo Mahel, srpen 2001<br>Spolupráce Ing. Jan Machač</p>
    <p class="col-xs-4" style="text-align: center;"><a href="http://www.alanbutschek.cz/osvozy/vyznam_pismen.htm">Přehled a vývoj písmenného označení železničních osobních vozů od roku 1882</a></p>
    <p class="col-xs-4" style="text-align: right;">Aktualizace: 10. 6. 2010</p>
  </article>
</div>
<div class="row">
  <article class="table-responsive">
    <h2>Velká písmena a kombinace s nimi</h2>
{% include znaceni_velke.html %}
  </article>
  <article class="table-responsive">
    <h2>malá písmena a jejich kombinace</h2>
{% include znaceni_male.html %}
  </article>
  <article class="table-responsive">
    <h2>Vysvětlivky, poznámky</h2>
{% include znaceni_vysvetlivky.html %}
  </article>
</div>
