<section>
  <h2>Odjezdové <a href="http://provoz.szdc.cz/Tabule/">tabule</a></h2>
  <ul>
    <li>Praha</li>
    <ul>
      <li>Hlavní -
        <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5457076&t=2">Odj</a> /
        <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5457076&t=1">Pří</a>
      </li>
      <li>Masaryk. -
        <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5457236&t=2">Odj</a> /
        <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5457236&t=1">Pří</a>
      </li>
      <li>Smíchov -
        <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5457226&t=2">Odj</a> /
        <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5457226&t=1">Pří</a>
      </li>
      <li>Libeň -
        <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5457176&t=2">Odj</a> /
        <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5457176&t=1">Pří</a>
      </li>
    </ul>
    <li>Ostrava</li>
    <ul>
      <li>hl.n. -
        <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5434364&t=2">Odj</a> /
        <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5434364&t=1">Pří</a>
      </li>
      <li>Svinov -
        <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5434434&t=2">Odj</a> /
        <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5434434&t=1">Pří</a>
      </li>
    </ul>
    <li>Pardubice -
      <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5453613&t=2">Odj</a> /
      <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5453613&t=1">Pří</a>
    </li>
    <li>Brno -
      <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5433295&t=2">Odj</a> /
      <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5433295&t=1">Pří</a>
    </li>
    <li>Plzeň -
      <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5473275&t=2">Odj</a> /
      <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5473275&t=1">Pří</a>
    </li>
    <li>Žďár n. S. -
      <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5437015&t=2">Odj</a> /
      <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5437015&t=1">Pří</a>
    </li>
  </ul>
</section>

<section class="nonelist">
  <h2>Výluky</h2>
  <ul>
    <li>
      <a href="http://www.vyluky.cz/">ŽelPage</a> /
      <a href="http://www.cd.cz/vyluky">ČD</a>
    </li>
  </ul>
</section>

<section>
  <h2>Ostatní</h2>
  <ul>
    <li>
      <a href="http://www.szdc.cz/o-nas/zeleznicni-mapy-cr.html">SŽDC</a>
      <a href="http://www.g-v-d.eu/">GVD</a>
      <a href="http://www.prazsketramvaje.cz/trasylinek/linkova_den/linkova_den_aktual.pdf">PRG</a>
    </li>
  </ul>
</section>
