<h2>Odjezdové <a href="http://provoz.szdc.cz/Tabule/">tabule</a></h2>
<ul>
  <li>Praha</li>
  <ul>
    <li>Hlavní -
      <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5457076&t=2">Odj</a> /
      <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5457076&t=1">Pří</a>
    </li>
    <li>Masarykovo -
      <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5457236&t=2">Odj</a> /
      <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5457236&t=1">Pří</a>
    </li>
    <li>Smíchov -
      <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5457226&t=2">Odj</a> /
      <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5457226&t=1">Pří</a>
    </li>
    <li>Libeň -
      <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5457176&t=2">Odj</a> /
      <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5457176&t=1">Pří</a>
    </li>
  </ul>
  <li>Ostrava hl.n. -
    <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5434364&t=2">Odj</a> /
    <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5434364&t=1">Pří</a>
  </li>
  <li>Pardubice hl.n. -
    <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5453613&t=2">Odj</a> /
    <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5453613&t=1">Pří</a>
  </li>
  <li>Brno hl.n. -
    <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5433295&t=2">Odj</a> /
    <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5433295&t=1">Pří</a>
  </li>
  <li>Plzeň -
    <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5473275&t=2">Odj</a> /
    <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5473275&t=1">Pří</a>
  </li>
  <li>Žďár nad Sázavou -
    <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5437015&t=2">Odj</a> /
    <a href="http://provoz.szdc.cz/Tabule/StationDetail.aspx?id=5437015&t=1">Pří</a>
  </li>
</ul>

<div class="nonelist">
  <h2>Výluky</h2>
  <ul>
    <li><a href="http://www.vyluky.cz/">ŽelPage</a></li>
    <li><a href="http://www.cd.cz/vyluky">ČD</a></li>
  </ul>
</div>
