<div class="row">
  <header>
    <h1>TranDir</h1>
  </header>
</div>
<div class="row">
  <article class="c4 col">
    <%= erb :index_1 %>
  </article>
  <article class="c4 col">
    <%= erb :index_2 %>
  </article>
  <article class="c4 col">
    <%= erb :index_3 %>
  </article>
</div>
<div class="row">
  <footer>
    <%= erb :footer %>
  </footer>
</div>
