<header class="row">
  <h1>TranDir</h1>
</header>
<div class="row">
  <article class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
    <%= erb :index_1 %>
  </article>
  <article class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
    <%= erb :index_2 %>
  </article>
  <article class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
    <%= erb :index_3 %>
  </article>
</div>
<footer class="row">
  <%= erb :footer %>
</footer>