<h2>Poloha vlaku</h2>
<ul>
  <li>
    <a href="http://babitron.ic.cz/">Babitron</a>
    <a href="http://www.cd.cz/cd-online/poloha-vlaku/">ČD</a>
  </li>
  <li>
    <a href="http://provoz.szdc.cz/grapp/">GRAPP</a>
    <a href="http://regiojet.rfc.cz/">RegioJet</a>
  </li>
  <li>
    <a href="http://tram.mobilnitabla.cz">tramMT</a>
    <form action="http://tram.mobilnitabla.cz/tablo.php" method="GET">
      <input type="text" name="zastavka" />
      <input type="submit" value="Přejit" />
    </form>
  </li>
  <li>
    <a href="http://www.mpvnet.cz/pid/map">busPID</a>
    <form name="form" id="formid" method="post" action="http://tram.mobilnitabla.cz/dejkod.php">
      <input type="text" id="inputname" name="name" />
      <input type="submit" value="Vyhledat" />
      <input type="hidden" id="operator" name="operator" value="1" >
    </form>
  </li>
  <li>
    <a href="http://sotoris.cz/">ŠotoRIS</a> /
    <a href="http://iris.bmhd.cz/">IRIS</a>
  </li>
</ul>

<h2>Dopravci</h2>
<ul>
  <li>
    <a href="https://www.cd.cz/eshop/">ČD</a> /
    <a href="https://moje.inkarta.cz/">IN karta</a>
  </li>
  <li>
    <a href="http://www.le.cz/">LeoExpress</a>
    <a href="https://jizdenky.studentagency.cz/Login.1">RegioJet</a>
  </li>
  <li><a href="https:/dpp.cz/">DPP</a></li>
</ul>

<h2>Ostatní</h2>
<ul>
  <li>
    <a href="http://www.szdc.cz/o-nas/zeleznicni-mapy-cr.html">SŽDC</a>
    <a href="http://www.g-v-d.eu/">GVD</a>
    <a href="http://www.prazsketramvaje.cz/trasylinek/linkova_den/linkova_den_aktual.pdf">PRG</a>
  </li>
</ul>
