<header class="row">
  <h1 class="two columns">TranDir</h1>
</header>
<main class="row">
  <div class="four columns">
    <%= erb :index_1 %>
  </div>
  <div class="four columns nonelist">
    <%= erb :index_2 %>
  </div>
  <div class="four columns nonelist">
    <%= erb :index_3 %>
  </div>
</main>
<footer class="row">
  <span class="four columns offset-by-four"><%= erb :footer %></span>
</footer>
