<section>
  <h2>Zájmové weby</h2>
  <ul>
    <li><a href="/znaceni">Číslování</a></li>
    <li><a href="http://www.zelpage.cz/razeni/">ŽelPage</a></li>
    <li><a href="http://www.vagonweb.cz/razeni/">VagonWEB</a></li>
    <li><a href="http://transphoto.ru/">TRANSphoto</a></li>
  </ul>
</section>

<section>
  <h2>Jízdní řády</h2>
  <ul>
    <li>
      <a href="http://www.szdc.cz/provozovani-drahy/knizni-jizdni-rady.html">ČD</a> &amp;
      <a href="http://idos.cz/">IDOS</a>
    </li>
    <li>
      <a href="http://spojeni.dpp.cz">DPP</a> &amp;
      <a href="http://poradime.ropid.cz/">ROPID</a>
    </li>
  </ul>
</section>

<section>
  <h2>Dopravci</h2>
  <ul>
    <li>
      <a href="http://www.le.cz/">LeoExpress</a>
      <a href="https://jizdenky.studentagency.cz/Login.1">RegioJet</a>
    </li>
    <li>
      <a href="https://www.cd.cz/eshop/">ČD</a> /
      <a href="https://moje.inkarta.cz/">IN karta</a>
    </li>
    <li><a href="https:/dpp.cz/">DPP</a></li>
  </ul>
</section>

<section>
  <h2>Ostatní</h2>
  <ul>
    <li>
      <a href="http://www.szdc.cz/o-nas/zeleznicni-mapy-cr.html">SŽDC</a>
      <a href="http://www.g-v-d.eu/">GVD</a>
      <a href="http://www.prazsketramvaje.cz/trasylinek/linkova_den/linkova_den_aktual.pdf">PRG</a>
    </li>
  </ul>
</section>
