<header class="row">
  <h1>TranDir</h1>
</header>
<main class="row">
  <div class="col c2">
    <%= erb :index_1 %>
  </div>
  <div class="col c2 nonelist">
    <%= erb :index_2 %>
  </div>
  <div class="col c2 nonelist">
    <%= erb :index_3 %>
  </div>
</main>
<footer class="row">
  <%= erb :footer %>
</footer>
