<h2>Řazení vlaku</h2>
<form action="http://www.zelpage.cz/razeni/12/" method="get">
  <input name="rocnik" type="hidden" value="14">
  <input type="text" name="dotaz" maxlength="50" placeholder="ŽelPage" />
  <input type="submit" name="cr" value="ČR" />
  <input type="submit" name="sk" value="SK" />
</form>
<form name="vw_razeni2" method="get" action="http://www.vagonweb.cz/razeni/razeni.php">
  <input name="rok" type="hidden" value="2014">
  <input id="jmeno" name="jmeno" type="text" maxlength="50" placeholder="VagonWEB" />
  <input name="najit" type="submit" value="Hledat" />
</form>
<div class="TrainTypes">
  <a href="http://www.zelpage.cz/razeni/12/cr/Os/">Os</a>
  <a href="http://www.zelpage.cz/razeni/12/cr/Sp/">Sp</a>
  <a href="http://www.zelpage.cz/razeni/12/cr/R/">R</a>
  <a href="http://www.zelpage.cz/razeni/12/cr/Ex/">Ex</a>
  <a href="http://www.zelpage.cz/razeni/12/cr/IC/">IC</a>
  <a href="http://www.zelpage.cz/razeni/12/cr/EC/">EC</a>
  <a href="http://www.zelpage.cz/razeni/12/cr/LE/">LE</a>
  <a href="http://www.zelpage.cz/razeni/12/cr/EN/">EN</a>
</div>

<ul>
  <li><a href="/znaceni">Číslování</a></li>
  <li><a href="http://www.zelpage.cz/razeni/">ŽelPage</a></li>
  <li><a href="http://www.vagonweb.cz/razeni/">VagonWEB</a></li>
  <li><a href="http://transphoto.ru/">TRANSphoto</a></li>
</ul>

<ul>
  <li><a href="http://idos.cz/">IDOS</a></li>
  <li>
    <a href="http://spojeni.dpp.cz">DPP</a>
    <a href="http://poradime.ropid.cz/">ROPID</a>
  </li>
</ul>
