<header class="row">
  <h1>TranDir</h1>
</header>
<div class="row">
  <article class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
    <%= erb :tabule %>
  </article>
  <article class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
    <%= erb :razeni %>
  </article>
  <article class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
    <%= erb :zbytek %>
  </article>
</div>
<footer class="row">
  <span><a href="http://openclipart.org/detail/18947/ice-train-by-mbs">Open Clip Art Library</a></span>
  <span>&copy; <a href="http://pdostal.cz/">Pavel Dostál</a></span>
</footer>