<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TranDir</title>
    <meta name="description" content="Transport directory" />
    <meta name="author" content="Pavel Dostál" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/skeleton/css/normalize.css" rel="stylesheet">
    <link href="/css/skeleton/css/skeleton.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
	</head>
	<body class="container">
		<%= yield %>
	</body>
</html>
