<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TranDir</title>
    <meta name="description" content="Transport directory" />
    <meta name="author" content="Pavel Dostál" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= css :application %>
    <%= js :application %>
	</head>
	<body class="container">
		<%= yield %>
	</body>
</html>
