<h2>Řazení vlaku</h2>
<form action="http://www.zelpage.cz/razeni/12/" method="get">
  <input type="text" name="dotaz" maxlength="50"  />
  <select name="rocnik" style="vertical-align: middle;">
    <option value="14" selected="selected">2014</option>
    <option value="13">2013</option>
    <option value="12">2012</option>
    <option value="11">2011</option>
    <option value="10">2010</option>
    <option value="09">2009</option>
    <option value="08">2008</option>
    <option value="07">2007</option>
  </select><br />
  <span>Vyhledat v:</span>
  <input type="submit" name="cr" value="ČR" />
  <input type="submit" name="sk" value="SK" />
</form>
<ul>
  <li>Osobní vlaky - <a href="http://www.zelpage.cz/razeni/12/cr/Os/">Os</a></li>
  <li>Spěšné vlaky - <a href="http://www.zelpage.cz/razeni/12/cr/Sp/">Sp</a></li>
  <li>Rychlíky - <a href="http://www.zelpage.cz/razeni/12/cr/R/">R</a></li>
  <li>Expressy - <a href="http://www.zelpage.cz/razeni/12/cr/Ex/">Ex</a></li>
  <li>InterCity - <a href="http://www.zelpage.cz/razeni/12/cr/IC/">IC</a></li>
  <li>EuroCity - <a href="http://www.zelpage.cz/razeni/12/cr/EC/">EC</a></li>
  <li>LeoExpress - <a href="http://www.zelpage.cz/razeni/12/cr/LE/">LE</a></li>
  <li>EuroNight - <a href="http://www.zelpage.cz/razeni/12/cr/EN/">EN</a></li>
</ul>
<ul>
  <li><a href="/znaceni">Číslování</a></li>
  <li><a href="http://www.zelpage.cz/razeni/">ŽelPage</a></li>
  <li><a href="http://www.g-v-d.eu/">GVD</a></li>
</ul>