<header class="row">
  <h1>TranDir &rArr; Značení</h1>
</header>
<div class="row">
  <article class="table-responsive">
    <table class="table table-bordered table-hover table-condensed">
    </table>
  </article>
</div>
<footer class="row">
  <span><a href="http://openclipart.org/detail/18947/ice-train-by-mbs">Open Clip Art Library</a></span>
  <span>&copy; <a href="http://pdostal.cz/">Pavel Dostál</a></span>
</footer>