<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr><th style="width: 25px;">Písmeno (kombinace)</th><th>Význam</th><th>Od</th><th>Do</th><th>Poznámky</th></tr>
  </thead>
  <tbody>
    <tr><td rowspan="3">a</td><td>Čtyřnápravový vůz</td><td>1890</td><td>1983</td><td>-</td></tr>
    <tr><td>Třínápravový vůz</td><td>1983</td><td>2000</td><td><a href="#12">12</a></td></tr>
    <tr><td>Dvounápravový vůz</td><td>2001</td><td>dosud</td><td>-</td></tr>
    <tr><td>aa</td><td>Dvounápravový vůz</td><td>1983</td><td>2000</td><td>-</td></tr>
    <tr><td>b</td><td>Vůz pro tělesně postižené</td><td>2001</td><td>dosud</td><td><a href="#24">24</a></td></tr>
    <tr><td>c</td><td>Lehátkové uspořádání</td><td>1959</td><td>dosud</td><td><a href="#14">14</a></td></tr>
    <tr><td rowspan="3">d</td><td>Zavazadlový oddíl u služebního vozu pro osobní vlaky</td><td>asi 1925</td><td>1983</td><td>-</td></tr>
    <tr><td>Služební vůz pro osobní vlaky</td><td>1983</td><td>2000</td><td><a href="#25">25</a></td></tr>
    <tr><td>Vůz s prostorem pro jízdní kola</td><td>2001</td><td>dosud</td><td>-</td></tr>
    <tr><td rowspan="3">e</td><td>Postranní chodba či ulička u dvou-a třínápravových osobních vozů</td><td>1882</td><td>1983</td><td>-</td></tr>
    <tr><td>Služební vůz pro osobní vlaky</td><td>asi 1885</td><td>1925</td><td><a href="#8">8</a></td></tr>
    <tr><td>Vůz pouze s elektrickým topením</td><td>1983</td><td>2000</td><td><a href="#13">13</a></td></tr>
    <tr><td>ee</td><td>Vůz napájený z průběžného elektrického vedení</td><td>1986</td><td>dosud</td><td><a href="#18">18</a></td></tr>
    <tr><td rowspan="2">f</td><td>Vůz napájený z motorového vozu</td><td>1983</td><td>2000</td><td>-</td></tr>
    <tr><td>Vůz s řídicí kabinou pro dálkové ovládání hnacíhovozidla</td><td>2001</td><td>dosud</td><td>-</td></tr>
    <tr><td rowspan="3">g</td><td>Dvounápravový vůz s děleným pojezdem (systému Rybák)</td><td>1908</td><td>asi 1925</td><td><a href="#8">14</a></td></tr>
    <tr><td>Dvounápravový služební vůz s rozvorem min. 7,5 m, poštovní vůz s rozvorem min. 5,8 m</td><td>1913</td><td>asi 1925</td><td><a href="#8">8</a></td></tr>
    <tr><td>Vůz s oddílem pro zaměstnance obsluhy vlaku</td><td>2000</td><td>dosud</td><td><a href="#15">15</a></td></tr>
    <tr><td rowspan="3">h</td><td>Elektrické topení</td><td>1913</td><td>1918</td><td><a href="#5">5</a></td></tr>
    <tr><td>Vůz se střední uličkou (též p, t, y)</td><td>1983</td><td>2000</td><td><a href="#16">16</a></td></tr>
    <tr><td>Vůz pro tělesně postižené (též b)</td><td>2001</td><td>dosud</td><td>-</td></tr>
    <tr><td rowspan="3">i</td><td>Střední ulička u dvou- a třínápravových vozů</td><td>1882</td><td>1983</td><td>-</td></tr>
    <tr><td>Střední uličkau čtyřnápravových vozů</td><td>1952</td><td>1983</td><td><a href="#19">19</a></td></tr>
    <tr><td>Vůz s nekrytými přechodovými můstky</td><td>1983</td><td>2000</td><td>-</td></tr>
    <tr><td>j</td><td>Ucelená (nerozpojitelná) jednotka</td><td>1983</td><td>dosud</td><td>-</td></tr>
    <tr><td rowspan="4">k</td><td>Průvodcovský poštovní vůz (bez úřadovny)</td><td>1891</td><td>1983</td><td><a href="#31">31</td></tr>
    <tr><td>Vůz s oddílempro přepravu nemocných</td><td>1911</td><td>asi 1925</td><td><a href="#8">8</td></tr>
    <tr><td>Služební vůz s rozvoremmenším než 6,0 m</td><td>asi 1925</td><td>1983</td><td>-</a></td></tr>
    <tr><td>Vůz trvale vybavený kamny pro vytápění</td><td>asi 1970</td><td>dosud</td><td><a href="#17">27</a></td></tr>
    <tr><td rowspan="2">l</td><td>Vůz lehké stavby</td><td>1903</td><td>1983</td><td><a href="#14">14</td></tr>
    <tr><td>Vůz s reprodukčním rozhlasovým zařízením</td><td>1983</td><td>2000</td><td>-</td></tr>
    <tr><td rowspan="3">m</td><td>Přípojný vůz pro motorové vlaky</td><td>1933</td><td>1983</td><td>-</td></tr>
    <tr><td>Vůz delší než 24,0 m</td><td>1983</td><td>1989</td><td>-</td></tr>
    <tr><td>Vůz delší než 24,5 m</td><td>1990</td><td>dosud</td><td>-</td></tr>
    <tr><td rowspan="2">n</td><td>Vůz s oddílem pro přepravu nemocných</td><td>asi 1925</td><td>?</td><td><a href="#20">20</a></td></tr>
    <tr><td>Vůz pro motorovou trakci bez průběžného elektrického kabelu</td><td>1983</td><td>dosud</td><td><a href="#26">26</a></td></tr>
    <tr><td rowspan="2">o</td><td>Celní oddíl ve služebním voze</td><td>1921</td><td>1932</td><td>-</td></tr>
    <tr><td>Poschoďový (dvoupodlažní) vůz</td><td>1983</td><td>dosud</td><td>-</td></tr>
    <tr><td rowspan="2">p</td><td>Patrový vůz</td><td>1961</td><td>1983</td><td><a href="#14">14</a></td></tr>
    <tr><td>Vůz se střední uličkou (též h, t, y)</td><td>1983</td><td>dosud</td><td>-</td></tr>
    <tr><td rowspan="2">r</td><td>Vyhlídkový vůz</td><td>1891</td><td>asi 1925</td><td><a href="#8">8</a></td></tr>
    <tr><td>Vůz vybaven zvláštním zařízením (zvláštní výbava)</td><td>1983</td><td>dosud</td><td>-</td></tr>
    <tr><td>ř</td><td>Řídicí stanoviště</td><td>1945</td><td>?</td><td><a href="#20">20</a></td></tr>
    <tr><td rowspan="4">s</td><td>Vůz pro místní (sekundární) dráhy</td><td>1882</td><td>asi 1925</td><td><a href="#8">8</td></tr>
    <tr><td>Úzkorozchodný vůz (pod lomítkem)</td><td>?</td><td>asi 1925</td><td><a href="#13">13</td></tr>
    <tr><td>Dvounápravový služební vůz s dovolenou rychlostí min. 80 km/h</td><td>1936</td><td>1983</td><td><a href="#14">14</td></tr>
    <tr><td>Postranní chodba u služebního vozu nebo oddílu</td><td>1974</td><td>dosud</td><td><a href="#14">14</a></td></tr>
    <tr><td rowspan="2">t</td><td>Vůz pro GTB (Galizische Transversalbahn, Haličská příčná dráha)</td><td>1884</td><td>1890</td><td>-</td></tr>
    <tr><td>Vůz s uličkou ve středu vozu (též h, p, y)</td><td>1983</td><td>dosud</td><td><a href="#21">21</a></td></tr>
    <tr><td rowspan="2">u</td><td>Vůz pro vídeňskou městskou dráhu (Wiener Stadtbahn)</td><td>1896</td><td>1918</td><td><a href="#5">5</td></tr>
    <tr><td>Úzkorozchodný vůz</td><td>asi 1922</td><td>dosud</td><td><a href="#29">29</a></td></tr>
    <tr><td rowspan="3">v</td><td>Vlečný vůz pro motorový provoz (centrální spřáhlo)</td><td>1927</td><td>?</td><td><a href="#20">20</a></td></tr>
    <tr><td>Vůz přechodný na rozchod 1520 mm</td><td>1983</td><td>2000</td><td>-</td></tr>
    <tr><td>Vůz s prostorem pro jízdní kola</td><td>2001</td><td>dosud</td><td>-</td></tr>
    <tr><td>w</td><td>Vůz bez přechodových můstků</td><td>1983</td><td>2000</td><td><a href="#22">22</a></td></tr>
    <tr><td>x</td><td>Vůz lehké stavby pro motorové vlaky</td><td>1983</td><td>dosud</td><td>-</td></tr>
    <tr><td rowspan="2">y</td><td>Třínápravový vůz</td><td>1913</td><td>1983</td><td><a href="#20">32</a></td></tr>
    <tr><td>Vůz s uličkou ve středu vozu (též h, p, t)</td><td>1983</td><td>2000</td><td>-</td></tr>
    <tr><td rowspan="2">z</td><td>Vůz bez elektrického topení</td><td>1983</td><td>2000</td><td><a href="#20">28</a></td></tr>
    <tr><td>Zásobování energií z průběžného elektrického vedení</td><td>1997</td><td>dosud</td><td><a href="#14">14</a></td></tr>
  </tbody>
</table>