<header class="row">
  <h1><a href="/">TranDir</a> &rArr; Značení</h1>
</header>
<div class="row">
  <article>
    <p class="col-xs-4" style="text-align: left;">Ing. Ivo Mahel, srpen 2001<br>Spolupráce Ing. Jan Machač</p>
    <p class="col-xs-4" style="text-align: center;"><a href="http://www.alanbutschek.cz/osvozy/vyznam_pismen.htm">Přehled a vývoj písmenného označení železničních osobních vozů od roku 1882</a></p>
    <p class="col-xs-4" style="text-align: right;">Aktualizace: 10.&nbsp;6. 2010</p>
  </article>
</div>
<div class="row">
  <article class="table-responsive">
    <h2>Velká písmena a&nbsp;kombinace s&nbsp;nimi</h2>
    <table class="table table-bordered table-hover table-condensed">
      <thead>
        <tr><th style="width: 25px;">Písmeno (kombinace)</th><th>Význam</th><th>Od</th><th>Do</th><th>Poznámky</th></tr>
      </thead>
      <tbody>
  			<tr><td>A</td><td>Vůz s 1. vozovou třídou</td><td>1882</td><td>dosud</td><td><a href="#1">2</a></td></tr>
  			<tr><td>Al</td><td>Lůžkový vůz</td><td>1949</td><td>1956</td><td><a href="#3">3</a></td></tr>
  			<tr><td>Ar</td><td>Jídelní vůz</td><td>1949</td><td>1956</td><td><a href="#3">3</a></td></tr>
  			<tr><td>AS</td><td>Vůz s&nbsp;barem a&nbsp;tanečními prostory</td><td>2006</td><td>dosud</td><td><a href="#12">12</a></td></tr>
  			<tr><td>Az</td><td>Salonní vůz (vůz 1.&nbsp;třídy se zvláštní výbavou)</td><td>1921</td><td>1983</td><td>-</td></tr>
  			<tr><td>B</td><td>Vůz s druhou vozovou třídou</td><td>1882</td><td>dosud</td><td><a href="#2">2</a></td></tr>
  			<tr><td>Br</td><td>Vyhlídkový vůz(Break)</td><td>1882</td><td>1890</td><td>-</a></td></tr>
  			<tr><td>Bro</td><td>Vyhlídkový vůz otevřený (Break)</td><td>1882</td><td>1890</td><td>-</a></td></tr>
  			<tr><td>C</td><td>Vůz s třetí vozovou třídou</td><td>1882</td><td>1956</td><td><a href="#2">2</a></td></tr>
  			<tr><td>D</td><td>Služební (zavazadlový) vůz nebo oddíl</td><td>1882</td><td>dosud</td><td>-</td></tr>
  			<tr><td>Da</td><td>Poštovní průvodcovský vůz (bez úřadovny)</td><td>1882</td><td>1890</td><td><a href="#4">4</a></td></tr>
  			<tr><td>DD</td><td>Otevřený patrový vůz pro přepravu automobilů</td><td>1983</td><td>dosud</td><td><a href="#12">12</a></td></tr>
  			<tr><td>Dt</td><td>Přítěžný vůz</td><td>1925</td><td>1983</td><td><a href="#20">20</a></td></tr>
  			<tr><td>F</td><td>Poštovní vůz nebo oddíl</td><td>1882</td><td>1983</td><td>-</td></tr>
  			<tr><td>Fa</td><td>Poštovní ambulance (vůz s&nbsp;úřadovnou)</td><td>1882</td><td>1925</td><td><a href="#4">4</a></td></tr>
  			<tr><td>FF</td><td>Dvatrvale spojené dvounápravové poštovní vozy</td><td>asi 1925</td><td>?</td><td><a href="#20">30</a></td></tr>
  			<tr><td>Hf</td><td>Dvorní salonní vůz</td><td>1882</td><td>1890</td><td>-</a></td></tr>
  			<tr><td>Hofsalon</td><td>Dvorní salonní vůz, majetek císaře</td><td>1891</td><td>1913</td><td>-</a></td></tr>
  			<tr><td>Hz</td><td>Dvorní vůz, majetek železnice</td><td>1893</td><td>asi 1920</td><td>-</td></tr>
  			<tr><td>MD</td><td>Krytý vůz pro přepravu automobilů</td><td>1983</td><td>2006</td><td><a href="#12">12</a></td></tr>
  			<tr><td>MDD</td><td>Krytý patrový vůz pro přepravu automobilů</td><td>1983</td><td>2006</td><td><a href="#12">12</a></td></tr>
  			<tr><td>O</td><td>Patrový (dvoupodlažní) vůz</td><td>1882</td><td>1890</td><td><a href="#5">5</a></td></tr>
  			<tr><td>Post</td><td>Poštovní vůz nebo oddíl</td><td>1983</td><td>dosud</td><td>-</td></tr>
  			<tr><td rowspan="2">S</td><td rowspan="2">Salonní vůz</td><td>1882</td><td>1890</td><td>-</a></td></tr>
  			<tr><td>1913</td><td>asi 1925</td><td><a href="#8">8</a></td></tr>
  			<tr><td>Sa</td><td>Vyhlídkový vůz s&nbsp;oddíly 1.&nbsp;třídy</td><td>asi 1885</td><td>1890</td><td><a href="#4">4</a></td></tr>
  			<tr><td>SaB</td><td>Vyhlídkový vůz s&nbsp;oddíly 1. a&nbsp;2.&nbsp;třídy</td><td>asi 1885</td><td>1890</td><td><a href="#4">4</a></td></tr>
  			<tr><td rowspan="2">Salon</td><td rowspan="2">Salonní vůz</td><td>1891</td><td>1913</td><td><a href="#7">7</a></td></tr>
  			<tr><td>1983</td><td>dosud</td><td><a href="#9">9</a></td></tr>
  			<tr><td>Sb</td><td>Salonní vůz</td><td>asi 1885</td><td>1890</td><td>-</a></td></tr>
  			<tr><td>Sd</td><td>Inspekční vůz</td><td>1882</td><td>1890</td><td>-</a></td></tr>
  			<tr><td>SR</td><td>Společenský vůz resp. vůz s&nbsp;barem a&nbsp;tanečními prostory</td><td>1983</td><td>dosud</td><td><a href="#9">9</a></td></tr>
  			<tr><td>R</td><td>Vůz s&nbsp;restauračním nebo bufetovým zařízením</td><td>1956 ?</td><td>dosud</td><td><a href="#23">23</a></td></tr>
  			<tr><td>WG</td><td>Vůz s&nbsp;barem a&nbsp;tanečními prostory</td><td>2006</td><td>dosud</td><td><a href="#12">12</a></td></tr>
  			<tr><td>WL</td><td>Lůžkový vůz</td><td>1956</td><td>dosud</td><td><a href="#10">10</a></td></tr>
  			<tr><td>WR</td><td>Jídelní vůz</td><td>1956</td><td>dosud</td><td>-</td></tr>
  			<tr><td>WRR</td><td>Jídelní vůz se samostatným bufetovým nebo barovým oddílem</td><td>1983</td><td>2000</td><td><a href="#11">11</a></td></tr>
  			<tr><td>WSP</td><td>Pullmannův vůz</td><td>1983</td><td>dosud</td><td><a href="#12">12</a></td></tr>
      </tbody>
    </table>
  </article>
  <article class="table-responsive">
    <h2>malá písmena a&nbsp;jejich kombinace</h2>
    <table class="table table-bordered table-hover table-condensed">
      <thead>
        <tr><th style="width: 25px;">Písmeno (kombinace)</th><th>Význam</th><th>Od</th><th>Do</th><th>Poznámky</th></tr>
      </thead>
      <tbody>
  			<tr><td rowspan="3">a</td><td>Čtyřnápravový vůz</td><td>1890</td><td>1983</td><td>-</td></tr>
  			<tr><td>Třínápravový vůz</td><td>1983</td><td>2000</td><td><a href="#12">12</a></td></tr>
  			<tr><td>Dvounápravový vůz</td><td>2001</td><td>dosud</td><td>-</td></tr>
  			<tr><td>aa</td><td>Dvounápravový vůz</td><td>1983</td><td>2000</td><td>-</td></tr>
  			<tr><td>b</td><td>Vůz pro tělesně postižené</td><td>2001</td><td>dosud</td><td><a href="#24">24</a></td></tr>
  			<tr><td>c</td><td>Lehátkové uspořádání</td><td>1959</td><td>dosud</td><td><a href="#14">14</a></td></tr>
  			<tr><td rowspan="3">d</td><td>Zavazadlový oddíl u&nbsp;služebního vozu pro osobní vlaky</td><td>asi 1925</td><td>1983</td><td>-</td></tr>
  			<tr><td>Služební vůz pro osobní vlaky</td><td>1983</td><td>2000</td><td><a href="#25">25</a></td></tr>
  			<tr><td>Vůz s&nbsp;prostorem pro jízdní kola</td><td>2001</td><td>dosud</td><td>-</td></tr>
  			<tr><td rowspan="3">e</td><td>Postranní chodba či ulička u&nbsp;dvou-a&nbsp;třínápravových osobních vozů</td><td>1882</td><td>1983</td><td>-</td></tr>
  			<tr><td>Služební vůz pro osobní vlaky</td><td>asi 1885</td><td>1925</td><td><a href="#8">8</a></td></tr>
  			<tr><td>Vůz pouze s&nbsp;elektrickým topením</td><td>1983</td><td>2000</td><td><a href="#13">13</a></td></tr>
  			<tr><td>ee</td><td>Vůz napájený z&nbsp;průběžného elektrického vedení</td><td>1986</td><td>dosud</td><td><a href="#18">18</a></td></tr>
  			<tr><td rowspan="2">f</td><td>Vůz napájený z&nbsp;motorového vozu</td><td>1983</td><td>2000</td><td>-</td></tr>
  			<tr><td>Vůz s&nbsp;řídicí kabinou pro dálkové ovládání hnacíhovozidla</td><td>2001</td><td>dosud</td><td>-</td></tr>
  			<tr><td rowspan="3">g</td><td>Dvounápravový vůz s&nbsp;děleným pojezdem (systému Rybák)</td><td>1908</td><td>asi 1925</td><td><a href="#8">14</a></td></tr>
  			<tr><td>Dvounápravový služební vůz s&nbsp;rozvorem min. 7,5&nbsp;m, poštovní vůz s&nbsp;rozvorem min. 5,8&nbsp;m</td><td>1913</td><td>asi 1925</td><td><a href="#8">8</a></td></tr>
  			<tr><td>Vůz s&nbsp;oddílem pro zaměstnance obsluhy vlaku</td><td>2000</td><td>dosud</td><td><a href="#15">15</a></td></tr>
  			<tr><td rowspan="3">h</td><td>Elektrické topení</td><td>1913</td><td>1918</td><td><a href="#5">5</a></td></tr>
  			<tr><td>Vůz se střední uličkou (též p, t, y)</td><td>1983</td><td>2000</td><td><a href="#16">16</a></td></tr>
  			<tr><td>Vůz pro tělesně postižené (též b)</td><td>2001</td><td>dosud</td><td>-</td></tr>
  			<tr><td rowspan="3">i</td><td>Střední ulička u&nbsp;dvou- a&nbsp;třínápravových vozů</td><td>1882</td><td>1983</td><td>-</td></tr>
  			<tr><td>Střední uličkau&nbsp;čtyřnápravových vozů</td><td>1952</td><td>1983</td><td><a href="#19">19</a></td></tr>
  			<tr><td>Vůz s nekrytými přechodovými můstky</td><td>1983</td><td>2000</td><td>-</td></tr>
  			<tr><td>j</td><td>Ucelená (nerozpojitelná) jednotka</td><td>1983</td><td>dosud</td><td>-</td></tr>
  			<tr><td rowspan="4">k</td><td>Průvodcovský poštovní vůz (bez úřadovny)</td><td>1891</td><td>1983</td><td><a href="#31">31</td></tr>
  			<tr><td>Vůz s&nbsp;oddílempro přepravu nemocných</td><td>1911</td><td>asi 1925</td><td><a href="#8">8</td></tr>
  			<tr><td>Služební vůz s&nbsp;rozvoremmenším než 6,0&nbsp;m</td><td>asi 1925</td><td>1983</td><td>-</a></td></tr>
  			<tr><td>Vůz trvale vybavený kamny pro vytápění</td><td>asi 1970</td><td>dosud</td><td><a href="#17">27</a></td></tr>
  			<tr><td rowspan="2">l</td><td>Vůz lehké stavby</td><td>1903</td><td>1983</td><td><a href="#14">14</td></tr>
  			<tr><td>Vůz s&nbsp;reprodukčním rozhlasovým zařízením</td><td>1983</td><td>2000</td><td>-</td></tr>
  			<tr><td rowspan="3">m</td><td>Přípojný vůz pro motorové vlaky</td><td>1933</td><td>1983</td><td>-</td></tr>
  			<tr><td>Vůz delší než 24,0&nbsp;m</td><td>1983</td><td>1989</td><td>-</td></tr>
  			<tr><td>Vůz delší než 24,5&nbsp;m</td><td>1990</td><td>dosud</td><td>-</td></tr>
  			<tr><td rowspan="2">n</td><td>Vůz s&nbsp;oddílem pro přepravu nemocných</td><td>asi 1925</td><td>?</td><td><a href="#20">20</a></td></tr>
  			<tr><td>Vůz pro motorovou trakci bez průběžného elektrického kabelu</td><td>1983</td><td>dosud</td><td><a href="#26">26</a></td></tr>
  			<tr><td rowspan="2">o</td><td>Celní oddíl ve služebním voze</td><td>1921</td><td>1932</td><td>-</td></tr>
  			<tr><td>Poschoďový (dvoupodlažní) vůz</td><td>1983</td><td>dosud</td><td>-</td></tr>
  			<tr><td rowspan="2">p</td><td>Patrový vůz</td><td>1961</td><td>1983</td><td><a href="#14">14</a></td></tr>
  			<tr><td>Vůz se střední uličkou (též h, t, y)</td><td>1983</td><td>dosud</td><td>-</td></tr>
  			<tr><td rowspan="2">r</td><td>Vyhlídkový vůz</td><td>1891</td><td>asi 1925</td><td><a href="#8">8</a></td></tr>
  			<tr><td>Vůz vybaven zvláštním zařízením (zvláštní výbava)</td><td>1983</td><td>dosud</td><td>-</td></tr>
  			<tr><td>ř</td><td>Řídicí stanoviště</td><td>1945</td><td>?</td><td><a href="#20">20</a></td></tr>
  			<tr><td rowspan="4">s</td><td>Vůz pro místní (sekundární) dráhy</td><td>1882</td><td>asi 1925</td><td><a href="#8">8</td></tr>
  			<tr><td>Úzkorozchodný vůz (pod lomítkem)</td><td>?</td><td>asi 1925</td><td><a href="#13">13</td></tr>
  			<tr><td>Dvounápravový služební vůz s&nbsp;dovolenou rychlostí min. 80&nbsp;km/h</td><td>1936</td><td>1983</td><td><a href="#14">14</td></tr>
  			<tr><td>Postranní chodba u&nbsp;služebního vozu nebo oddílu</td><td>1974</td><td>dosud</td><td><a href="#14">14</a></td></tr>
  			<tr><td rowspan="2">t</td><td>Vůz pro GTB (Galizische Transversalbahn, Haličská příčná dráha)</td><td>1884</td><td>1890</td><td>-</td></tr>
  			<tr><td>Vůz s&nbsp;uličkou ve středu vozu (též h, p, y)</td><td>1983</td><td>dosud</td><td><a href="#21">21</a></td></tr>
  			<tr><td rowspan="2">u</td><td>Vůz pro vídeňskou městskou dráhu (Wiener Stadtbahn)</td><td>1896</td><td>1918</td><td><a href="#5">5</td></tr>
  			<tr><td>Úzkorozchodný vůz</td><td>asi 1922</td><td>dosud</td><td><a href="#29">29</a></td></tr>
  			<tr><td rowspan="3">v</td><td>Vlečný vůz pro motorový provoz (centrální spřáhlo)</td><td>1927</td><td>?</td><td><a href="#20">20</a></td></tr>
  			<tr><td>Vůz přechodný na rozchod 1520 mm</td><td>1983</td><td>2000</td><td>-</td></tr>
  			<tr><td>Vůz s&nbsp;prostorem pro jízdní kola</td><td>2001</td><td>dosud</td><td>-</td></tr>
  			<tr><td>w</td><td>Vůz bez přechodových můstků</td><td>1983</td><td>2000</td><td><a href="#22">22</a></td></tr>
  			<tr><td>x</td><td>Vůz lehké stavby pro motorové vlaky</td><td>1983</td><td>dosud</td><td>-</td></tr>
  			<tr><td rowspan="2">y</td><td>Třínápravový vůz</td><td>1913</td><td>1983</td><td><a href="#20">32</a></td></tr>
  			<tr><td>Vůz s&nbsp;uličkou ve středu vozu (též h, p, t)</td><td>1983</td><td>2000</td><td>-</td></tr>
  			<tr><td rowspan="2">z</td><td>Vůz bez elektrického topení</td><td>1983</td><td>2000</td><td><a href="#20">28</a></td></tr>
  			<tr><td>Zásobování energií z&nbsp;průběžného elektrického vedení</td><td>1997</td><td>dosud</td><td><a href="#14">14</a></td></tr>
      </tbody>
    </table>
  </article>
  <article class="table-responsive">
    <h2>Vysvětlivky, poznámky</h2>
    <table class="table table-bordered table-hover table-condensed">
      <tbody>
  			<tr><td><a name="1">1</a></td><td><a>Používání původní první vozové třídy bylo ve vnitrostátním provozu ČSD zrušeno v&nbsp;roce 1953, označení vozů se neměnilo</a></td></tr>
  			<tr><td><a name="2">2</a></td><td><a>Změna vozových tříd od počátku GVD 1956/57. Dřívější druhá senově označovala jako první, dřívější třetí jakodruhá.</a></td></tr>
  			<tr><td><a name="3">3</a></td><td><a>Provoz jídelních a&nbsp;lůžkových vozů nanašem území zajišťovala v&nbsp;letech 1918 -&nbsp;1939 a&nbsp;1945-&nbsp;1949 společnost CIWL, v letech 1939 -&nbsp;1945 MITROPA. Tyto společnosti používaly svůj systém označování a&nbsp;číslování vozů</a></td></tr>
  			<tr><td><a name="4">4</a></td><td><a>Písmeno a v&nbsp;tomto případě nevyjadřuje počet náprav</a></td></tr>
  			<tr><td><a name="5">5</a></td><td><a>Vozy tohoto druhu od kkStB k&nbsp;ČSDnepřevzaty</a></td></tr>
      </tbody>
  </table>
  <article class="table-responsive">
    <table class="table table-bordered table-hover table-condensed">
      <tr><td><a name="6">6</a></td><td><a>Jídelní vůz převzatý k&nbsp;ČSD z&nbsp;dvorníhovlaku císaře byl po roce 1918 přeznačen na&quot;rakouskou&quot; řadu Sa</a></td></tr>
			<tr><td><a name="7">7</a></td><td><a>Často zkracováno na S, počet náprav se neudával</a></td></tr>
			<tr><td><a name="8">8</a></td><td><a>U vozů přebíraných od kkStB provedenopřeznačování na systém ČSD zpravidla až po uzavření dohodyo&nbsp;majetkovém vypořádání mezi nástupnickými státybývalé monarchie (1925)</a></td></tr>
			<tr><td><a name="9">9</a></td><td><a>V&nbsp;souvislosti se změnou režimu využití salonních vozů ČSD změněno u&nbsp;některých vozů po roce 1990řadové označení z&nbsp;dřívějšího Salon naSR</a></td></tr>
			<tr><td><a name="10">10</a></td><td><a>K tomuto označení vždy ještě doplněnyvozové třídy (WLA, WLB, WLAB)</a></td></tr>
    </table>
  </article>
  <article class="table-responsive">
    <table class="table table-bordered table-hover table-condensed">
      <tr><td><a name="11">11</a></td><td><a>Toto označení není zahrnuto v&nbsp;mezinárodním předpisu RIC</a></td></tr>
			<tr><td><a name="12">12</a></td><td><a>Toto označení je součástí mezinárodního předpisu RIC, resp. TSI, ale u&nbsp;ČD/ČSD takové vozy nejsou v&nbsp;provozu</a></td></tr>
			<tr><td><a name="13">13</a></td><td><a>Popis označování úzkorozchodných vozů nenalezen v&nbsp;žádném předpisu, ale minimálně od poloviny 90. let 19. století bylo používáno s jako jmenovatel pod vodorovnou zlomkovou čarou</a></td></tr>
			<tr><td><a name="14">14</a></td><td><a>Zavedeno v souvislosti s&nbsp;dodávkou novýchvozů odpovídajících vlastností</a></td></tr>
			<tr><td><a name="15">15</a></td><td><a>Označení zavedeno samostatným výnosemk datu 1.&nbsp;7. 2000</a></td></tr>
    </table>
  </article>
  <article class="table-responsive">
    <table class="table table-bordered table-hover table-condensed">
      <tr><td><a name="16">16</a></td><td><a>Použito u&nbsp;vozů maďarské výroby</a></td></tr>
			<tr><td><a name="17">17</a></td><td><a>Používáno jen u&nbsp;služebních vozů pronákladní vlaky a&nbsp;pro vozy pro vojenské přepravy (u přípojných vozů senepoužívalo)</a></td></tr>
			<tr><td><a name="18">18</a></td><td><a>Původně nepoužito u&nbsp;vozů z dodávky v roce 1984, které byly tímto zařízením vybaveny na zkoušku už z&nbsp;výroby</a></td></tr>
			<tr><td><a name="19">19</a></td><td><a>Používáno jen u&nbsp;nových typů vozů klasické stavby (u&nbsp;starších nebylo doplňováno, nepoužito u&nbsp;vozů lehké stavby pro motorové vlaky)</a></td></tr>
			<tr><td><a name="20">20</a></td><td><a>Označení zaniklo postupným vyřazením příslušných vozů</a></td></tr>
    </table>
  </article>
  <article class="table-responsive">
    <table class="table table-bordered table-hover table-condensed">
      <tr><td><a name="21">21</a></td><td><a>Do roku 2000 používáno pro vozy vyrobené ve Studénce</a></td></tr>
			<tr><td><a name="22">22</a></td><td><a>Použito jen u&nbsp;poštovních vozů proodlišení vozů z poslední dodávky (1984 - 1985)</a></td></tr>
			<tr><td><a name="23">23</a></td><td><a>Pravděpodobně nejdříve zavedeno u&nbsp;vozů, do nichž byl v&nbsp;polovině 50. let dodatečně vestavěn bufetový oddíl</a></td></tr>
			<tr><td><a name="24">24</a></td><td><a>Používáno u&nbsp;vozů, které mají vybavení pro přepravu osob na invalidních vozících</a></td></tr>
			<tr><td><a name="25">25</a></td><td><a>Používáno jen u&nbsp;dvounápravových vozů</a></td></tr>
    </table>
  </article>
  <article class="table-responsive">
    <table class="table table-bordered table-hover table-condensed">
      <tr><td><a name="26">26</a></td><td><a>Používáno jen u&nbsp;některých vozů, podobných vozům běžné stavby</a></td></tr>
			<tr><td><a name="27">27</a></td><td><a>Zpravidla odděleno pomlčkou</a></td></tr>
			<tr><td><a name="28">28</a></td><td><a>Používáno jen u&nbsp;vozů původně elektrickým topením vybavených na rozlišení od vozů téhož typu, kterým elektrické topení zůstalo</a></td></tr>
			<tr><td><a name="29">29</a></td><td><a>Původně zapisováno pod vodorovnouzlomkovou čáru, později též za lomítko; v&nbsp;některých případech též psáno jako dlouhé ú</a></td></tr>
			<tr><td><a name="30">30</a></td><td><a>Někdy též psáno Ff</a></td></tr>
			<tr><td><a name="31">31</a></td><td><a>Po 2.&nbsp;světové válce i&nbsp;u&nbsp;poštovních vozů někdy specifikováno jako vůz s&nbsp;rozvorem menším než 6,0&nbsp;m</a></td></tr>
			<tr><td><a name="32">32</a></td><td><a>V&nbsp;původním návrhu systému ČSD se s&nbsp;tímto označením nepočítalo, ale zřejmě bylo toto písmeno ve 20.&nbsp;letech vynecháno jen při přeznačování některých třínápravových salonních vozů</a></td></tr>
    </table>
  </article>
</div>
<footer class="row">
  <%= erb :footer %>
</footer>