<table class="table table-bordered table-hover table-condensed">
  <tbody>
    <tr><td><a name="1">1</a></td><td><a>Používání původní první vozové třídy bylo ve vnitrostátním provozu ČSD zrušeno v roce 1953, označení vozů se neměnilo</a></td></tr>
    <tr><td><a name="2">2</a></td><td><a>Změna vozových tříd od počátku GVD 1956/57. Dřívější druhá senově označovala jako první, dřívější třetí jakodruhá.</a></td></tr>
    <tr><td><a name="3">3</a></td><td><a>Provoz jídelních a lůžkových vozů nanašem území zajišťovala v letech 1918 - 1939 a 1945- 1949 společnost CIWL, v letech 1939 - 1945 MITROPA. Tyto společnosti používaly svůj systém označování a číslování vozů</a></td></tr>
    <tr><td><a name="4">4</a></td><td><a>Písmeno a v tomto případě nevyjadřuje počet náprav</a></td></tr>
    <tr><td><a name="5">5</a></td><td><a>Vozy tohoto druhu od kkStB k ČSDnepřevzaty</a></td></tr>
  </tbody>
</table>
<table class="table table-bordered table-hover table-condensed">
  <tr><td><a name="6">6</a></td><td><a>Jídelní vůz převzatý k ČSD z dvorníhovlaku císaře byl po roce 1918 přeznačen na&quot;rakouskou&quot; řadu Sa</a></td></tr>
  <tr><td><a name="7">7</a></td><td><a>Často zkracováno na S, počet náprav se neudával</a></td></tr>
  <tr><td><a name="8">8</a></td><td><a>U vozů přebíraných od kkStB provedenopřeznačování na systém ČSD zpravidla až po uzavření dohodyo majetkovém vypořádání mezi nástupnickými státybývalé monarchie (1925)</a></td></tr>
  <tr><td><a name="9">9</a></td><td><a>V souvislosti se změnou režimu využití salonních vozů ČSD změněno u některých vozů po roce 1990řadové označení z dřívějšího Salon naSR</a></td></tr>
  <tr><td><a name="10">10</a></td><td><a>K tomuto označení vždy ještě doplněnyvozové třídy (WLA, WLB, WLAB)</a></td></tr>
</table>
<table class="table table-bordered table-hover table-condensed">
  <tr><td><a name="11">11</a></td><td><a>Toto označení není zahrnuto v mezinárodním předpisu RIC</a></td></tr>
  <tr><td><a name="12">12</a></td><td><a>Toto označení je součástí mezinárodního předpisu RIC, resp. TSI, ale u ČD/ČSD takové vozy nejsou v provozu</a></td></tr>
  <tr><td><a name="13">13</a></td><td><a>Popis označování úzkorozchodných vozů nenalezen v žádném předpisu, ale minimálně od poloviny 90. let 19. století bylo používáno s jako jmenovatel pod vodorovnou zlomkovou čarou</a></td></tr>
  <tr><td><a name="14">14</a></td><td><a>Zavedeno v souvislosti s dodávkou novýchvozů odpovídajících vlastností</a></td></tr>
  <tr><td><a name="15">15</a></td><td><a>Označení zavedeno samostatným výnosemk datu 1. 7. 2000</a></td></tr>
</table>
<table class="table table-bordered table-hover table-condensed">
  <tr><td><a name="16">16</a></td><td><a>Použito u vozů maďarské výroby</a></td></tr>
  <tr><td><a name="17">17</a></td><td><a>Používáno jen u služebních vozů pronákladní vlaky a pro vozy pro vojenské přepravy (u přípojných vozů senepoužívalo)</a></td></tr>
  <tr><td><a name="18">18</a></td><td><a>Původně nepoužito u vozů z dodávky v roce 1984, které byly tímto zařízením vybaveny na zkoušku už z výroby</a></td></tr>
  <tr><td><a name="19">19</a></td><td><a>Používáno jen u nových typů vozů klasické stavby (u starších nebylo doplňováno, nepoužito u vozů lehké stavby pro motorové vlaky)</a></td></tr>
  <tr><td><a name="20">20</a></td><td><a>Označení zaniklo postupným vyřazením příslušných vozů</a></td></tr>
</table>
<table class="table table-bordered table-hover table-condensed">
  <tr><td><a name="21">21</a></td><td><a>Do roku 2000 používáno pro vozy vyrobené ve Studénce</a></td></tr>
  <tr><td><a name="22">22</a></td><td><a>Použito jen u poštovních vozů proodlišení vozů z poslední dodávky (1984 - 1985)</a></td></tr>
  <tr><td><a name="23">23</a></td><td><a>Pravděpodobně nejdříve zavedeno u vozů, do nichž byl v polovině 50. let dodatečně vestavěn bufetový oddíl</a></td></tr>
  <tr><td><a name="24">24</a></td><td><a>Používáno u vozů, které mají vybavení pro přepravu osob na invalidních vozících</a></td></tr>
  <tr><td><a name="25">25</a></td><td><a>Používáno jen u dvounápravových vozů</a></td></tr>
</table>
<table class="table table-bordered table-hover table-condensed">
  <tr><td><a name="26">26</a></td><td><a>Používáno jen u některých vozů, podobných vozům běžné stavby</a></td></tr>
  <tr><td><a name="27">27</a></td><td><a>Zpravidla odděleno pomlčkou</a></td></tr>
  <tr><td><a name="28">28</a></td><td><a>Používáno jen u vozů původně elektrickým topením vybavených na rozlišení od vozů téhož typu, kterým elektrické topení zůstalo</a></td></tr>
  <tr><td><a name="29">29</a></td><td><a>Původně zapisováno pod vodorovnouzlomkovou čáru, později též za lomítko; v některých případech též psáno jako dlouhé ú</a></td></tr>
  <tr><td><a name="30">30</a></td><td><a>Někdy též psáno Ff</a></td></tr>
  <tr><td><a name="31">31</a></td><td><a>Po 2. světové válce i u poštovních vozů někdy specifikováno jako vůz s rozvorem menším než 6,0 m</a></td></tr>
  <tr><td><a name="32">32</a></td><td><a>V původním návrhu systému ČSD se s tímto označením nepočítalo, ale zřejmě bylo toto písmeno ve 20. letech vynecháno jen při přeznačování některých třínápravových salonních vozů</a></td></tr>
</table>