<header class="row">
  <h1><a href="/">TranDir</a> &rArr; Značení</h1>
</header>
<div class="row">
  <article class="table-responsive">
    <table class="table table-bordered table-hover table-condensed">
    </table>
  </article>
</div>
<footer class="row">
  <%= erb :footer %>
</footer>