header,footer { clear: both; }

.c2 { display: inline-block; white-space: nowrap; }

ul { margin: 0px; text-align: left; }
ul ul { padding-left: 15px; }

h2 { text-align: left; margin-bottom: 0px; font-size: 1.25em; }

form,input { display: inline-block; }
form { white-space: nowrap; display: block; }
input { border: 0px solid #fff; background: #fff; }

.TrainTypes>a { margin-right: 7.5px; }

footer { text-align: center; }
