ul { padding-left: 25px; }
ul ul { padding-left: 15px; }

form,input { display: inline-block; }
form { white-space: nowrap; display: block; }
input { border: 0px solid #fff; background: #fff; }

.TrainTypes>a { margin-right: 7.5px; }

footer { text-align: center; }
