<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr><th style="width: 25px;">Písmeno (kombinace)</th><th>Význam</th><th>Od</th><th>Do</th><th>Poznámky</th></tr>
  </thead>
  <tbody>
    <tr><td>A</td><td>Vůz s 1. vozovou třídou</td><td>1882</td><td>dosud</td><td><a href="#1">2</a></td></tr>
    <tr><td>Al</td><td>Lůžkový vůz</td><td>1949</td><td>1956</td><td><a href="#3">3</a></td></tr>
    <tr><td>Ar</td><td>Jídelní vůz</td><td>1949</td><td>1956</td><td><a href="#3">3</a></td></tr>
    <tr><td>AS</td><td>Vůz s barem a tanečními prostory</td><td>2006</td><td>dosud</td><td><a href="#12">12</a></td></tr>
    <tr><td>Az</td><td>Salonní vůz (vůz 1. třídy se zvláštní výbavou)</td><td>1921</td><td>1983</td><td>-</td></tr>
    <tr><td>B</td><td>Vůz s druhou vozovou třídou</td><td>1882</td><td>dosud</td><td><a href="#2">2</a></td></tr>
    <tr><td>Br</td><td>Vyhlídkový vůz(Break)</td><td>1882</td><td>1890</td><td>-</a></td></tr>
    <tr><td>Bro</td><td>Vyhlídkový vůz otevřený (Break)</td><td>1882</td><td>1890</td><td>-</a></td></tr>
    <tr><td>C</td><td>Vůz s třetí vozovou třídou</td><td>1882</td><td>1956</td><td><a href="#2">2</a></td></tr>
    <tr><td>D</td><td>Služební (zavazadlový) vůz nebo oddíl</td><td>1882</td><td>dosud</td><td>-</td></tr>
    <tr><td>Da</td><td>Poštovní průvodcovský vůz (bez úřadovny)</td><td>1882</td><td>1890</td><td><a href="#4">4</a></td></tr>
    <tr><td>DD</td><td>Otevřený patrový vůz pro přepravu automobilů</td><td>1983</td><td>dosud</td><td><a href="#12">12</a></td></tr>
    <tr><td>Dt</td><td>Přítěžný vůz</td><td>1925</td><td>1983</td><td><a href="#20">20</a></td></tr>
    <tr><td>F</td><td>Poštovní vůz nebo oddíl</td><td>1882</td><td>1983</td><td>-</td></tr>
    <tr><td>Fa</td><td>Poštovní ambulance (vůz s úřadovnou)</td><td>1882</td><td>1925</td><td><a href="#4">4</a></td></tr>
    <tr><td>FF</td><td>Dvatrvale spojené dvounápravové poštovní vozy</td><td>asi 1925</td><td>?</td><td><a href="#20">30</a></td></tr>
    <tr><td>Hf</td><td>Dvorní salonní vůz</td><td>1882</td><td>1890</td><td>-</a></td></tr>
    <tr><td>Hofsalon</td><td>Dvorní salonní vůz, majetek císaře</td><td>1891</td><td>1913</td><td>-</a></td></tr>
    <tr><td>Hz</td><td>Dvorní vůz, majetek železnice</td><td>1893</td><td>asi 1920</td><td>-</td></tr>
    <tr><td>MD</td><td>Krytý vůz pro přepravu automobilů</td><td>1983</td><td>2006</td><td><a href="#12">12</a></td></tr>
    <tr><td>MDD</td><td>Krytý patrový vůz pro přepravu automobilů</td><td>1983</td><td>2006</td><td><a href="#12">12</a></td></tr>
    <tr><td>O</td><td>Patrový (dvoupodlažní) vůz</td><td>1882</td><td>1890</td><td><a href="#5">5</a></td></tr>
    <tr><td>Post</td><td>Poštovní vůz nebo oddíl</td><td>1983</td><td>dosud</td><td>-</td></tr>
    <tr><td rowspan="2">S</td><td rowspan="2">Salonní vůz</td><td>1882</td><td>1890</td><td>-</a></td></tr>
    <tr><td>1913</td><td>asi 1925</td><td><a href="#8">8</a></td></tr>
    <tr><td>Sa</td><td>Vyhlídkový vůz s oddíly 1. třídy</td><td>asi 1885</td><td>1890</td><td><a href="#4">4</a></td></tr>
    <tr><td>SaB</td><td>Vyhlídkový vůz s oddíly 1. a 2. třídy</td><td>asi 1885</td><td>1890</td><td><a href="#4">4</a></td></tr>
    <tr><td rowspan="2">Salon</td><td rowspan="2">Salonní vůz</td><td>1891</td><td>1913</td><td><a href="#7">7</a></td></tr>
    <tr><td>1983</td><td>dosud</td><td><a href="#9">9</a></td></tr>
    <tr><td>Sb</td><td>Salonní vůz</td><td>asi 1885</td><td>1890</td><td>-</a></td></tr>
    <tr><td>Sd</td><td>Inspekční vůz</td><td>1882</td><td>1890</td><td>-</a></td></tr>
    <tr><td>SR</td><td>Společenský vůz resp. vůz s barem a tanečními prostory</td><td>1983</td><td>dosud</td><td><a href="#9">9</a></td></tr>
    <tr><td>R</td><td>Vůz s restauračním nebo bufetovým zařízením</td><td>1956 ?</td><td>dosud</td><td><a href="#23">23</a></td></tr>
    <tr><td>WG</td><td>Vůz s barem a tanečními prostory</td><td>2006</td><td>dosud</td><td><a href="#12">12</a></td></tr>
    <tr><td>WL</td><td>Lůžkový vůz</td><td>1956</td><td>dosud</td><td><a href="#10">10</a></td></tr>
    <tr><td>WR</td><td>Jídelní vůz</td><td>1956</td><td>dosud</td><td>-</td></tr>
    <tr><td>WRR</td><td>Jídelní vůz se samostatným bufetovým nebo barovým oddílem</td><td>1983</td><td>2000</td><td><a href="#11">11</a></td></tr>
    <tr><td>WSP</td><td>Pullmannův vůz</td><td>1983</td><td>dosud</td><td><a href="#12">12</a></td></tr>
  </tbody>
</table>
