body { width: 550px; }
h1,h2 { margin: 0px; text-align: left; }
article { float: left; margin-left: 15px; }
hr { width: 5em; float: left; }
li,footer span { clear: both; }
footer span { display: block; text-align: center; }
ul { margin: 0px; padding: 0px 0px 0px 20px; }