<!doctype html>
<html lang="cs">
	<head>
    <meta charset="utf-8">
    <title>TranDir</title>
    <meta name="description" content="Paul Dostál's personal webpage" />
    <meta name="author" content="Pavel Dostál" />
    <link rel="shortcut icon" href="favicon.png" />
	  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
</head>
	<body class="container">

		<%= yield %>

	</body>
</html>
